@model IEnumerable<MVC.Models.mvcEmployee>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddorEdit","Employee")" class="btn btn-default"><i class="fa fa-plus">Create New</i></a>
  

</p>
<table class="table table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
             
         <a href="@Url.Action("AddOrEdit","Employee", new {id = item.ID})" class="btn btn-default"><i class="fa fa-pencil"></i>Edit</a>

          <a  onclick="Delete(@item.ID)" class="btn btn-default"><i class="fa fa-trash"></i>Delete</a>


        </td>
    </tr>
}

</table>

@section scripts{
    
    <script>

        $(function () {

            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);

        });

        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations', 'Are You Sure to Delete this record?', function () {
                window.location.href = '@Url.Action("Delete","Employee")/'+id;
            },null);
        } 

    </script>
    
    
    }
